{#
/**
 * @file brightcove-video.html.twig
 * Default theme implementation to display Brightcove video entity.
 */
#}
{%
  set classes = [
    'video',
    'video--brightcove',
    'video' ~ '--' ~ elements['#view_mode']|clean_class,
    'video' ~ '--' ~ (status ? 'active': 'inactive')
  ]
%}
{% if bgImageBase64 is defined %}
<style>
{% set attributes = attributes.addClass('theme--ambient-lighting').setAttribute('id', 'video-' ~ elements.id) %}
@media only screen and (min-width: 84em) {
  #video-{{elements.id}} {
    background-image: url('{{ bgImageBase64 }}');
  }
}
</style>
{% endif %}
<article {{ attributes.addClass(classes) }}>
  <div class="l-contain--wide l-contain--flush">
    {{ elements.brightcove_video_player }}
    {% if overlay_content %}
    <script>
      (function(window, videojs) {
        var player = window.player = videojs('player');

        player.overlay({
          content: '{{ overlay_content }}',
          overlays: [{
            start: 2,
            end: 15,
            align: 'top-right',
            class: 'overlay-preroll'
          }]
        });
      }(window, window.videojs));
    </script>
    {% endif %}
    <div class="video__content">
      <h1 class="video__title">{{ elements.name }}</h1>
      {{ drupal_block('addtoany_block') }}
      {% if elements.long_description.value %}
        {{ elements.long_description }}
      {% else %}
        {{ elements.description }}
      {% endif %}
      {% if elements.related_link %}
        {{ elements.related_link }}
      {% endif %}
    </div>
  </div>
</article>