{%
  set classes = [
    'video',
    'video--brightcove',
    'video' ~ '--' ~ elements['#view_mode']|clean_class,
    'video' ~ '--' ~ (status ? 'active': 'inactive')
  ]
%}
<article {{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  <header class="video__header">
    {% if islocked %}
    <div class="video__lock">
      {{ include(directory ~ '/img/icons/icon--lock.svg') }}
    </div>
    {% endif %}
    <div class="video__image">
      {% if status %}
      <a href="{{ elements.url }}">
      {% endif %}
      {% if not elements.poster['#items'] %}
        <img src="http://placehold.it/1280x720&text=Default+Image" />
      {% endif %}
      {{ elements.poster }}
      {% if status %}
      </a>
      {% endif %}
    </div>
  </header>
  <div class="video__content">
    {% if not status %}<div class="tag">Coming soon</div><br/>{% endif %}
    <h1 class="video__title">{{ elements.name }}</h1>
    {{ elements.description }}
  </div>
  {% if status %}
  <a href="{{ elements.url }}" class="link--cover">{{ elements.name }}</a>
  {% endif %}
</article>