{% extends 'node.html.twig' %}
{% set title_attributes = title_attributes.addClass('person__title') %}

{% block titlearea %}
  {{ title_prefix }}
  {{ title_suffix }}
{% endblock %}

{% block contentarea %}
  {{ content.field_portrait }}
  <div class="group">
    <h1{{ title_attributes }}>{{ label }}</h1>
    {% if content.field_contact_options['#links'] %}
    <div class="person__contact">
      {{ content.field_contact_options }}
    </div>
    {% endif %}
  </div>
{% endblock %}