{%
  set classes = [
    'block',
    'block--' ~ plugin_id|clean_class,
  ]
%}
{% set attributes_rendered %}
  {{ attributes.addClass(classes) }}
{% endset %}
{% set title_attributes = title_attributes.addClass('block__title') %}

{% if attributes_rendered %}
<div{{ attributes_rendered }}>
<div class="l-contain">
{% endif %}

{{ title_prefix }}
{% if label %}
  <h2{{ title_attributes }}>{{ label }}</h2>
{% endif %}
{{ title_suffix }}
{% block content %}
  {{ content }}
{% endblock %}

{% if attributes_rendered %}
</div>
</div>
{% endif %}
